In [44]:
print('Hello, World')

Hello, World

Creating variables and assigning values

In [45]:
a = 2
print(a)

2

In [46]:
b = 93838839393939
print(b)

93838839393939

In [47]:
pi =3.14
print(pi)

3.14

In [48]:
c = 'A'
print(c)

A

In [49]:
name ='Nabin Katwal'
print(name)

Nabin Katwal

In [50]:
q = True
print(q)

True

In [51]:
x = None
print(x)

None

In [52]:
# variable assignment works from left to right so following gives error
# 0 = x

In [53]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [54]:
a = 2
print(type(a))

<class 'int'>

In [55]:
b = 584838340834804380
print(type(b))

<class 'int'>

In [56]:
pi = 3.14
print(type(pi))

<class 'float'>

In [57]:
c = 'A'
print(type(c))

<class 'str'>

In [58]:
name = 'Nabin Katwal'
print(type(name))

<class 'str'>

In [59]:
q = True
print(type(q))

<class 'bool'>

In [60]:
x = None
print(type(x))

<class 'NoneType'>

In [61]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [62]:
a, b, _ = 1, 2, 3
print(a, b)

1 2

In [63]:
a = b = c = 1
print(a, b, c)
b = 2
print(a, b, c)

1 1 1
1 2 1

In [64]:
x = y = [7, 8, 9]
x = [13, 8, 9]
print(y)

[7, 8, 9]

In [65]:
x = y = [7, 8, 9]
x[0] = 13
print(y)

[13, 8, 9]

In [66]:
x = [1, 2, [3, 4, 5], 6, 7]
print(x[2])
print(x[2][1])

[3, 4, 5]
4

In [67]:
a = 2
print(a)
a = "New Value"
print(a)

2
New Value

Block Indention

In [68]:
def my_function():
    a = 2
    return a
print(my_function())

2

In [73]:
a = int(input('Enter a'))
b = int(input('Enter b'))
if a > b:
    print(a)
else:
    print(b)

6

In [74]:
if a > b : print(a)
else : print(b)

6

In [75]:
def will_be_implemented_later():
    pass

Datatypes

In [79]:
issubclass(bool, int)

True

In [80]:
isinstance(True, bool)

True

In [82]:
True + False == 1 
True * True == 1
True * False == 0
True + True == 2

True

In [83]:
a = 2
b = 100
c = 123456789
d = 58498834289288954

In [84]:
a = 2.0
b = 100.e0
c = 123456789.e1

In [85]:
a = 2 + 1j
b = 100 + 10j

In [86]:
a = "HELLO"
b = 'Hey'

In [91]:
a = (1, 2, 3)
b = ('a', 1, 'python', (1,2))

In [95]:
a = [1, 2, 3]
b = ['a', 1, 'python', (1,2), [1,2]]
b[2] = 'something else'
b

['a', 1, 'something else', (1, 2), [1, 2]]

In [96]:
a = {1, 2, 'a'}

In [100]:
a = {
    1 : 'one',
    2 : 'two'
}
a

{1: 'one', 2: 'two'}

In [101]:
b = {
    'a' : [1, 2, 3],
    'b' : 'a string'
}
b

{'a': [1, 2, 3], 'b': 'a string'}

In [103]:
a = '123'
print(type(a))
b = 123
print(type(b))

<class 'str'>
<class 'int'>

In [106]:
i = 7
if isinstance(i, int):
    i += 1
elif isinstance(i, str):
    i = int(i)
    i += 1
i

8

In [107]:
x = None
if x is None:
    print('Not a surprise, I just defined x as None.')

Not a surprise, I just defined x as None.

In [108]:
a = '123'
b = int(a)

In [112]:
a = '123.456'
b = float(a)
d = int(b)
print(a)
print(type(a))
print(b)
print(type(b))
print(d)
print(type(d))

123.456
<class 'str'>
123.456
<class 'float'>
123
<class 'int'>

In [114]:
a = 'hello'
print(list(a))
print(set(a))
print(tuple(a))

['h', 'e', 'l', 'l', 'o']
{'e', 'l', 'o', 'h'}
('h', 'e', 'l', 'l', 'o')

In [115]:
def f(m):
    m.append(3)

In [116]:
x = [1,2]
f(x)
x == [1,2] # False now, since an item was added to the list

False

In [118]:
def bar():
    x = (1,2)
    g(x)
    x == (1,2) # Will always be True, since no function can change the object (1,2)