String

In [1]:
a_str = 'Hello World'
print(a_str)

Hello World

In [2]:
print(a_str[0])

H

In [3]:
print(a_str[0:5])

Hello

Set Data Types

In [4]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'pear', 'banana', 'apple', 'orange'}

In [5]:
a = set('abracadabra')
print(a)

{'d', 'c', 'r', 'a', 'b'}

In [6]:
a.add('z')
print(a)

{'d', 'z', 'c', 'r', 'a', 'b'}

In [7]:
b = frozenset('asdfagsa')
print(b)

frozenset({'d', 'g', 's', 'f', 'a'})

In [8]:
cities = frozenset(["Frankfurt", "Basel","Freiburg"])
print(cities)

frozenset({'Freiburg', 'Frankfurt', 'Basel'})

Numbers data type

In [9]:
int_num = 10
float_num = 10.2
complex_num = 3.14j

List Data Type

In [10]:
list = [123, 'abcd', 10.2, 'd'] #can be an array of any data type or single data type.
list1 = ['hello', 'world']
print(list)

[123, 'abcd', 10.2, 'd']

In [11]:
print(list[0:2])

[123, 'abcd']

In [12]:
print(list1 * 2)

['hello', 'world', 'hello', 'world']

In [13]:
print(list + list1)

[123, 'abcd', 10.2, 'd', 'hello', 'world']

Dictionary Data Type

In [14]:
dic = {
    'name' : 'red',
    'age' : 10
}
print(dic)

{'name': 'red', 'age': 10}

In [15]:
print(dic['name'])

red

In [16]:
print(dic.values())

dict_values(['red', 10])

In [17]:
print(dic.keys())

dict_keys(['name', 'age'])

In [18]:
print(dic.items())

dict_items([('name', 'red'), ('age', 10)])

Tuple Data Type

In [22]:
tuple = (123, 'hello')
tuple1 = ('world',)
print(tuple)

(123, 'hello')

In [23]:
print(tuple[0])

123

In [24]:
print(tuple + tuple1)

(123, 'hello', 'world')